In [256]:
import pandas as pd

final_df = pd.read_csv('contest_data/final_data.csv')

In [257]:
final_df.columns

Index(['CTPRVN_NM', 'SIGNGU_NM', '정상', '관심', '관찰1', '관찰2', '관찰3', '부도', '부도율',
       '전국비례부도율'],
      dtype='object')

In [208]:
final_df.drop(['AAA', 'AA', 'A', 'BBB', 'BB', 'B', 'CCC', 'CC', 'C', 'D'], axis='columns', inplace=True)

In [258]:
final_df

,CTPRVN_NM,SIGNGU_NM,정상,관심,관찰1,관찰2,관찰3,부도,부도율,전국비례부도율
0,경기,평택시,272313,12077,19415,39370,11889,609.0,0.001712,0.005868
1,경기,김포시,219109,14581,17529,30484,16062,741.0,0.002482,0.008508
2,경기,시흥시,217848,10058,16198,30716,10793,420.0,0.001468,0.005032
3,경기,파주시,245434,12922,16906,32589,15674,752.0,0.002319,0.007948
4,경기,화성시,438305,27374,32259,57502,26400,1236.0,0.002120,0.007265
...,...,...,...,...,...,...,...,...,...,...
223,충북,충주시,141186,5218,7703,12597,5093,160.0,0.000930,0.003189
224,충북,청주시상당구,86843,3527,4856,8580,2429,68.0,0.000640,0.002192
225,충북,청주시서원구,97490,4800,6025,10245,3306,74.0,0.000607,0.002080
226,충북,청주시청원구,108572,5405,6550,10366,3836,168.0,0.001245,0.004268
227,충북,청주시흥덕구,147195,6395,9795,14226,4610,148.0,0.000812,0.002781

In [214]:
#부도율 = 부도 / 정상 + 관심 + 관찰1 + 관찰2 + 관찰3
all_cnt = final_df['정상'] + final_df['관심'] + final_df['관찰1'] + final_df['관찰2'] + final_df['관찰3'] + final_df['부도']
all_cnt

0      355673.0
1      298506.0
2      286033.0
3      324277.0
4      583076.0
         ...
223    171957.0
224    106303.0
225    121940.0
226    134897.0
227    182369.0
Length: 228, dtype: float64

In [227]:
rate = final_df['부도'] / all_cnt
final_df['부도율'] = rate
final_df.head(10)

  CTPRVN_NM SIGNGU_NM      정상     관심    관찰1    관찰2    관찰3      부도       부도율
0        경기       평택시  272313  12077  19415  39370  11889   609.0  0.001712
1        경기       김포시  219109  14581  17529  30484  16062   741.0  0.002482
2        경기       시흥시  217848  10058  16198  30716  10793   420.0  0.001468
3        경기       파주시  245434  12922  16906  32589  15674   752.0  0.002319
4        경기       화성시  438305  27374  32259  57502  26400  1236.0  0.002120
5        경기       안성시  160446   5665   8124  16692   6686   318.0  0.001607
6        경기       양주시  131875   6692   7482  14912   6730   584.0  0.003471
7        경기       양평군   73661   3649   4995   9428   3105    21.0  0.000221
8        경기       여주시   84955   3552   4791   8656   3572   142.0  0.001344
9        경기       연천군   36477   1285   1954   3514   1132    52.0  0.001171

In [253]:
0.001712 / final_df['부도율'].sum()

0.005867396745344799

In [251]:
all_ent_sum = final_df['정상'].sum() + final_df['관심'].sum() + final_df['관찰1'].sum() \
+ final_df['관찰2'].sum() + final_df['관찰3'].sum() + final_df['부도'].sum()

all_bank_sum = final_df['부도'].sum()
all_bank_rate = all_bank_sum / all_ent_sum

all_bank_rate_sum = final_df['부도율'].sum()

final_df['전국비례부도율'] = final_df['부도율'] / all_bank_rate_sum

final_df.head()

,CTPRVN_NM,SIGNGU_NM,정상,관심,관찰1,관찰2,관찰3,부도,부도율,전국비례부도율
0,경기,평택시,272313,12077,19415,39370,11889,609.0,0.001712,0.005868
1,경기,김포시,219109,14581,17529,30484,16062,741.0,0.002482,0.008508
2,경기,시흥시,217848,10058,16198,30716,10793,420.0,0.001468,0.005032
3,경기,파주시,245434,12922,16906,32589,15674,752.0,0.002319,0.007948
4,경기,화성시,438305,27374,32259,57502,26400,1236.0,0.002120,0.007265

In [254]:
final_df['전국비례부도율'].sum()

1.0

In [226]:
value = final_df.loc[final_df['SIGNGU_NM'] == '평택시','부도율']
rate_val = value / final_df['부도'].sum()
rate_val
#final_df['부도율'].value_counts()

0    3.813892e-08
Name: 부도율, dtype: float64

In [255]:
final_df.to_csv('contest_data/final_data.csv', index=False)

In [ ]:
# 전국 평균 (AAA ~ NR) (정상 ~ 폐업)
per_final_df = pd.DataFrame()

# 도시 내를 기준으로 한 비율(percentage)
# AAA 컬럼 (평택시 / 경기 전체합)의 비율, AAA컬럼 (김포시 / 경기 전체합)의 비율
# 각 시도별로 비교 - 경기 AAA 전체의 평균에 대한 비율
# 신용등급 비율 / 부도율 비율

final_df